# This line does two things:
# - enable git's CRLF -> LF modification
# - tell git to guess whether files are text or binary
*                       text=auto

# Mark .pnp.js as binary to prevent git from trying to merge it
/.pnp.js                binary linguist-generated

# Mark bin as generated to remove it from language overview
/bin                    binary linguist-generated

# Set the language for these files to json5 to ensure GitHub doesn't show the comments as errors
/.vscode/*.json         linguist-language=JSON5

# Hide .yarn from GitHub's language detection
/.yarn/**               linguist-vendored
